.bg {
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    height: 570px;
}
h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div.main {
  width: 306px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

div.main div {
  position: relative;
  margin: 40px 0;
}

label {
  position: absolute;
  top: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  background-color: #eeeaeb;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;
}

input[type=email] {
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 800;
  background-color: #71191900;
  color: black;
}

input[type=email]:focus {
  outline: none;
}

input[type=password] {
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 800;
  background-color: #71191900;
  color: black;
}

input[type=password]:focus {
  outline: none;
}
.form-control
{
  height: auto;
}
.btn-primary {
    color: #080808;
    background-color: #282b2f2e;
    border-color: #727475;
    margin: 0px 115px 0px 115px;
  }
